<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <meta charset="UTF-8"/>
    <title>TODOメニュー</title>
  </head>
  <body>
    <h2>メニュー画面</h2>
	<hr/>
	<div>
	  <a th:href="@{/todo}">タスク一覧</a><br/><br/>
	</div>
	<div>
	  <a>パスワード変更</a><br/><br/>
	</div>
	<div>
	  <a sec:authorize="hasAuthority('A')" th:href="@{/user}">ユーザ一覧（管理者のみ）</a><br/><br/>
	</div>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="ログアウト">
	</form>
  </body>
</html>
