<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
  <title>ユーザ</title>
</head>
<body>
  <div th:if="${session.mode == 'update'}">
	  <h2 style="color:teal;">ユーザ更新</h2>
  </div>
  <div th:unless="${session.mode == 'update'}">
    <h2 style="color:teal;">ユーザ追加</h2>
  </div>
  <form th:action="@{/}" method="post" th:object="${userData}">
	<table>
	  <div th:if="${session.mode == 'update'}">
        <tr>
		  <th>task_id</th>
		  <td>
		    <span th:text="*{userId}"></span>
		    <input type="hidden" th:field="*{userId}">
		  </td>
	    </tr>
	  </div>
	  <tr>
		<th>ユーザ名</th>
		<td>
		  <input type="text" name="userName" size="21" th:value="*{userName}">
		  <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
		    th:errorclass="red"></div>
		  <input type="hidden" th:field="*{userNameOld}">
		</td>
	  </tr>
	  <tr>
	  	<th>年齢</th>
		<td>
		  <input type="text" name="age" size="3" th:value="*{age}">
				  <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
				    th:errorclass="red"></div>
		</td>
	  </tr>
	  <tr>
	    <th>パスワード</th>
	  	<td>
	  	  <input type="password" name="password" size="16" th:value="*{password}">
	  	  <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
	  	    th:errorclass="red"></div>
	    </td>
	  </tr>
	  <tr>
	    <th>権限</th>
	  	<td>
	  	  <input type="radio" name="role" th:field="*{role}" value="U">一般
	  	  <input type="radio" name="role" th:field="*{role}" value="A">管理者
	  	  <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
	  	    th:errorclass="red"></div>
	  	</td>
	  </tr>
	  <tr>
	    <th>削除</th>
	    <td style="text-align:left;">
		  <input type="checkbox" value="Y" th:field="*{del}">削除
	      <input type="hidden" name="!del" value="N">
	    </td>
	  </tr>
	</table>
	
	<div th:if="${session.mode == 'update'}">
      <button type="submit" th:formaction="@{/user/update}">更新</button>
	  <button type="submit" th:formaction="@{/user/cancel}">キャンセル</button>
    </div>
	<div th:unless="${session.mode == 'update'}">
	  <button type="submit" th:formaction="@{/user/create}">登録</button>
	  <button type="submit" th:formaction="@{/user/cancel}">キャンセル</button>
	</div>
  </form>
</body>
</html>
