<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<title>TodoList</title>
</head>
<body>
  <h2 style="color:teal;">ユーザ一覧</h2>
  <a th:href="@{/user/create}">新規追加</a>
  <table border="1">
    <tr>
	  <th>user_id</th>
	  <th>ユーザ名</th>
	  <th>年齢</th>
	  <th>作成日時</th>
	  <th>更新日時</th>
	</tr>
	<tr th:each="user: ${userList}">
	  <td><a th:href="@{/user/__${user.userId}__}" th:text="${user.userId}"></a></td>
	  <td th:text="${user.userName}"></td>
	  <td th:text="${user.age}"></td>
	  <td th:text="${user.createdAt}"></td>
	  <td th:text="${user.updatedAt}"></td>
	</tr>
  </table>
</body>
</html>